<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DBSecurityKey" value="GGJD9IoH5V6lGijFrTAdZQ=="/>
    <add key="sysdbhost" value="O2OA6DVKO7R4EyibZu8xQw=="/>
    <add key="sysdbport" value="6ciOj4DLHQo="/>
    <add key="sysdbname" value="NBIIMrGr71E+ISPpbb20+Q=="/>
    <add key="sysdbuserid" value="b8jUvCtJens+ISPpbb20+Q=="/>
    <add key="sysdbpassword" value="3bWfa+2QoKAYw6Cy1IilHQ=="/>
    
    <add key="mydbhost" value="wDOE+PMai9PTlusDxtkg0w=="/>
    <add key="mydbport" value="bVBe6TfjraY="/>
    <add key="mydbname" value="Qnz09ps4ZIE="/>
    <add key="mydbuserid" value="xxiZHtRSXZoVt6yWeGu3VA=="/>
    <add key="mydbpassword" value="SCHJuS1pFMfzDLcY1E3Axw=="/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
