<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DBSecurityKey" value="GGJD9IoH5V6lGijFrTAdZQ==" />
    <add key="sysdbhost" value="O2OA6DVKO7R4EyibZu8xQw==" />
    <add key="sysdbport" value="6ciOj4DLHQo=" />
    <add key="sysdbname" value="NBIIMrGr71E+ISPpbb20+Q==" />
    <add key="sysdbuserid" value="b8jUvCtJens+ISPpbb20+Q==" />
    <add key="sysdbpassword" value="3bWfa+2QoKAYw6Cy1IilHQ==" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>