<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="DBSecurityKey" value="GGJD9IoH5V6lGijFrTAdZQ=="/>
    
    <add key="sysdbhost" value="O2OA6DVKO7R4EyibZu8xQw=="/>
    <add key="sysdbport" value="6ciOj4DLHQo="/>
    <add key="sysdbname" value="NBIIMrGr71EH2Yh31L+eqQ=="/>
    <add key="sysdbuserid" value="b8jUvCtJens+ISPpbb20+Q=="/>
    <add key="sysdbpassword" value="3bWfa+2QoKAYw6Cy1IilHQ=="/>

    <add key="mydbhost" value="wDOE+PMai9PTlusDxtkg0w=="/>
    <add key="mydbport" value="bVBe6TfjraY="/>
    <add key="mydbname" value="Qnz09ps4ZIE="/>
    <add key="mydbuserid" value="xxiZHtRSXZoVt6yWeGu3VA=="/>
    <add key="mydbpassword" value="SCHJuS1pFMfzDLcY1E3Axw=="/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
</configuration>